@import "@material/button/mdc-button";
@import "@material/select/mdc-select";
@import "@material/typography/mdc-typography";

body { 
	margin:0; 
	padding:0;
}

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

#map { 
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

#selection {
	position: absolute;
	top: 10px;
	left: 20px;
}

.mdc-layout-grid__cell {
	padding: 8px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.panel {
	height: 30%;
	width: 100%;
	top: 70%;
	position: fixed;
}